/*
Crowdio CSS Form
V 1.0

*/

.single-crowdios #comments {
	display:none;
}

.single-crowdios .entry-meta {
	display:none;
}

.submittedBlank {
	border: 1px dotted red;
}

.crowdio_form_error {
	color: red;
	font-weight: bold;
}

.crowdioComment {
	padding:5pt;
}
.single-crowdios .secondlevel {
	margin-left: 20pt;
	border-left: 1px solid gray;
}

.single-crowdios .thirdlevel {
	margin-left: 20pt;
	border-left: 1px solid gray;
}